@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 26, 46;
  --background-end-rgb: 37, 37, 56;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
